{% extends request.htmx|yesno:"_base_empty.html,base.html" %}
{% load static %}

{% block content %}
    <div style="display: flex; align-items: flex-end; gap: 20px; margin-bottom: 2rem;">
        <div style="width: 150px; height: 150px; position: relative;">
            <div class="cover-placeholder" style="width: 150px; height: 150px; position: absolute;"></div>
            <img 
                src="{% url 'album_cover' album_id=album.id %}" 
                alt="Cover for {{ album.name }}" 
                style="width: 150px; height: 150px; border-radius: 5px; object-fit: cover; display: none; position: relative;"
                onload="this.style.display='block'; this.previousElementSibling.style.display='none';">
        </div>
        <div>
            <h1>{{ album.name }}</h1>
            <h2>por {{ album.artist.name }}</h2>
        </div>
    </div>

    <div class="action-bar">
        <p>
            <a href="{% url 'artist_detail' artist_id=album.artist.id %}" hx-get="{% url 'artist_detail' artist_id=album.artist.id %}" hx-target=".main-content" hx-push-url="true" class="btn">Volver a los álbumes de {{ album.artist.name }}</a>
        </p>
    </div>

    {% if songs %}
        <ul id="song-list">
            {% for song in songs %}
                <li
                    data-song-id="{{ song.google_file_id }}"
                    data-song-name="{{ song.title }}">

                    {% if song.track_number %}
                        <span style="display: inline-block; width: 30px; text-align: right; margin-right: 10px;">{{ song.track_number }}.</span>
                    {% endif %}
                    {{ song.title }}
                
                    <button class="queue-add-btn" title="Añadir a la cola">
                        <img src="{% static 'images/queue_icon.png' %}" alt="Añadir a la cola">
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron canciones para este álbum.</p>
    {% endif %}
{% endblock %}