{% extends request.htmx|yesno:"_base_empty.html,base.html" %}
{% load static %}

{% block content %}
    <h1>Selecciona tu Carpeta de Música</h1>
    <p>Haz clic en la carpeta que contiene toda tu música. Esto iniciará el escaneo de la librería.</p>
    <div class="action-bar">
        <p>
            <a href="{% url 'folder_browser' %}" hx-get="{% url 'folder_browser' %}" hx-target=".main-content" hx-push-url="true" class="btn">Volver a la Biblioteca</a>
        </p>
    </div>
    {% if folders %}
        <div class="artist-list">
            {% for folder in folders %}
                <a href="{% url 'set_folder' folder_id=folder.id %}">
                    {% if folder.type == 'shortcut' %}
                        <img src="{% static 'images/external_link.png' %}" alt="Acceso directo" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">{{ folder.name }}
                    {% else %}
                        📁 {{ folder.name }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron carpetas en la raíz de tu Google Drive.</p>
    {% endif %}
{% endblock %}

{% block player %}{% endblock %}