{% load static %}
<div style="text-align: center; padding-top: 3em; max-width: 600px; margin: auto;">
    <h1>{{ user.username }}</h1>
    
    <div style="margin-top: 2rem; margin-bottom: 2rem;">
        <img src="{% static 'images/default_avatar.jpg' %}" alt="Foto de perfil" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem; width: 280px; margin: 0 auto;">
        
        <a href="{% url 'artist_list' %}" hx-get="{% url 'artist_list' %}" hx-target=".main-content" hx-push-url="true" class="btn" style="width: 100%;">
            Ir a mi Librería
        </a>

        <a id="account-unlink-button" 
           href="{% url 'unlink_service' %}" 
           class="btn"
           data-has-credentials="{{ has_credentials|yesno:'true,false' }}"
           style="width: 100%;">
           Desvincular nube
        </a>

        <form action="{% url 'logout' %}" method="post" style="width: 100%; margin: 0;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="width: 100%;">
                Cerrar Sesión
            </button>
        </form>
    </div>
</div>