<div style="text-align: center; padding-top: 5em; max-width: 600px; margin: auto;">
    <h1>Conecta tu Servicio en la Nube</h1>
    <p>Para empezar, conecta el servicio en la nube donde guardas tu colección de música. Por ahora, solo Google Drive está disponible.</p>
    
    <div class="login-providers">
        <a href="{{ auth_url }}" class="provider-login-button google">
            <i class="fab fa-google"></i>
            <span>Conectar a Google Drive</span>
        </a>
        
        <a class="provider-login-button onedrive disabled">
            <i class="fab fa-microsoft"></i>
            <span>Conectar a OneDrive (Próximamente)</span>
        </a>
        
        <a class="provider-login-button dropbox disabled">
            <i class="fab fa-dropbox"></i>
            <span>Conectar a Dropbox (Próximamente)</span>
        </a>
    </div>
</div>